:host {
    display: block;
    padding: 10px;
}

div.header {
    background-color: silver;
    margin: 10px;
    padding: 10px;
}

div.view {
    background-color: silver;
    margin: 10px;
    padding: 10px;
}
